header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 999;
    padding: 0 40px;
    background: transparent;
    transition: all ease .3s;
}

header.collapsed {
    background-color: #141414;
}

.header-logo,
.header-user-img {
    height: 30px;
}

.header-logo img,
.header-user-img img{
    height: 100%;
    width: auto;
}

.header-user-img  img{
    border-radius: 3px;
}

.navbar-top {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Öğeleri yatay olarak hizalamak için */
    justify-content: flex-end;
  }
  
  .navbar-elements {
    margin-right: 20px; /* Öğeler arasında boşluk bırakmak için */
    cursor: pointer; /* Mouse imleci şeklini değiştirmek için */
    transition: color 0.3s;
  }

  .navbar-elements:hover {
    color: red; /* Fare öğenin üzerine gelince rengi değiştir */
  }
  