header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 999;
    padding: 0 40px;
    background: transparent;
    transition: all ease .3s;
}

header.collapsed {
    background-color: #141414;
}

.header-logo,
.header-user-img {
    height: 30px;
}

.header-logo img,
.header-user-img img{
    height: 100%;
    width: auto;
}

.header-user-img  img{
    border-radius: 3px;
}

.navbar-top {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; 
  
    justify-content: flex-end;
}
  
.navbar-top li {
    margin-right: 40px; 
}

.navbar-top li a {
    color: inherit; 
    text-decoration: none; 
    transition: color 0.3s; 
    font-size: 14px;
}

.navbar-top li a:hover {
    color: red; 
}

#homepage{
    font-weight: bold;
}